@charset "UTF-8";

/* ==========================================================================
    Builds our style structure
        https://sass-guidelin.es/#the-7-1-pattern
   ========================================================================== */
/**
 * Table of Contents:
 *
 *  1. Abstracts
 */
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "abstracts/variables";
@import "components/Selector";
@import "components/WorkoutModal";

.flex {
    display: flex;
}
.loginButton {
    height: 3em;
    width: 5em;
}
.signInButton {
    height: 3em;
    width: 5em;
}
.workout {
    color: red;
}
.topLeft {
    position: absolute;
    top: 0px;
    left: 0px;
}
.flash__message {
    width: 20em;
}
.success {
    background-color: green;
    color: darkblue;
    z-index: 1;
}
.error {
    background-color: red;
    color: black;
    z-index: 1;
}
.info {
    background-color: orange;
    color: black;
    z-index: 1;
}
