@charset "UTF-8";

/* ==========================================================================
    Builds our style structure
        https://sass-guidelin.es/#the-7-1-pattern
   ========================================================================== */
/**
 * Table of Contents:
 *
 *  1. Abstracts
 */
@import "abstracts/variables";
@import "components/Selector";

.flex {
    display: flex;
}
.loginButton {
    height: 3em;
    width: 5em;
}
.signInButton {
    height: 3em;
    width: 5em;
}
