@charset "UTF-8";

/* ==========================================================================
    Builds our style structure
        https://sass-guidelin.es/#the-7-1-pattern
   ========================================================================== */
/**
 * Table of Contents:
 *
 *  1. Abstracts
 */
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "abstracts/variables";
@import "resources/flashMessages";
@import "components/PresetSelector";
@import "components/WorkoutModal";

.flex {
    display: flex;
}
.loginButton {
    height: 3em;
    width: 5em;
}
.signInButton {
    height: 3em;
    width: 5em;
}
.workout {
    color: red;
}
.topLeft {
    position: absolute;
    top: 0px;
    left: 0px;
}
.custom-select {
    margin-left: 0.5em;
}
.container {
    margin: 1em;
}
.form-control {
    width: 12em;
}
